.tarot-list-container {
  padding: var(--spacing-md);
}

.tarot-list-container .tarot-title {
  font-size: var(--font-xl);
  font-weight: bold;
  margin: 5% 0 7%;
  text-align: center;
}

.tarot-list-container .tarot-products {
  display: grid;
  gap: 10%;
}

.tarot-list-container .tarot-product-card {
  background-color: var(--white);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tarot-list-container .product-image {
  height: 250px;
  overflow: hidden;
  background-color: #b9b9b9;
  border-radius: 15px;
}

.tarot-list-container .product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tarot-list-container .image-placeholder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-xl);
  color: var(--gray-dark);
}

.tarot-list-container .product-info {
  padding: 5% 2%;
}

.tarot-list-container .product-info h2 {
  font-size: var(--font-lg);
}
.tarot-list-container .product-info .price {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.tarot-list-container .product-info .price p {
  color: #b9b9b9;
  font-weight: 500;
  font-size: 15px;
  text-decoration: line-through;
}

.tarot-list-container .product-info .price span {
  font-weight: bold;
  font-size: 13.5px;
  padding: 3px 8px 5px 10px;
  background-color: rgba(107, 78, 255, 0.2);
  border-radius: 5px;
}
